<header id="header">
  <div class="container-fluid">

    <div id="logo" class="pull-left">
        <!-- <img src="http://www.clker.com/cliparts/J/D/1/f/s/y/r-o-b-flame-logo-hi.png" width="30px" height="50px"> -->
        <h1><a class="scrollto">Madiun United</a></h1>
      
    </div>
    <nav id="nav-menu-container" style="margin-right:10%;">
      <ul class="nav-menu">
        <li  routerLinkActive="active"> <a routerLink="/beranda">HOME</a></li>
        <li class="menu-has-children"><a href="">ABOUT</a>
          <ul>
            <li routerLinkActive="active">
              <a routerLink="/sejarah-kab"> Sejarah Kabupaten Madiun</a></li>
              <li routerLinkActive="active">
                <a routerLink="/dokumentasi-kab"> Dokumentasi Kabupaten Madiun</a></li>
              <li routerLinkActive="active">
                  <a routerLink="/sejarah-kota">Sejarah Kota Madiun</a></li>
                  <li routerLinkActive="active">
                    <a routerLink="/dokumentasi-kota"> Dokumentasi Kota Madiun</a></li>
          </ul>
        </li>
        <li  routerLinkActive="active"> <a routerLink="/informasi">INFORMASI WISATA/BUDAYA/EVENT</a>
        </li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header>