<div class="container-fluid">
  <div class="row" style="background-color:black; height:30%">
    <div class="col-3">
        <img src="../src/app/img/ig.png" alt="Gambar - 1" width="30px" height="30px" style="margin-left:120px;">
            <a  target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/exploremadiun/?hl=id"><p style="color:white;">@ExploreMadiun</p></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/gustaf.vapers/?hl=id"><p style="color:white;">@Gustaf.vapers Call Me Gustaf</p></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/azizadikara/?hl=id"><p style="color:white;">@AzizAdikara _Adkr_</p></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/exploremadiun/?hl=id"><p style="color:white;">#BanggaJadiOrangMadiun</p></a>
        
        
    </div>
    <div class="col-3">
        <img src="../src/app/img/wa.png" alt="Gambar - 1" width="30px" height="30px" style="margin-left:120px;">
        <ul>
            <li><p style="color:white;">Alfian - 0822 5723 7882</p> </li>
            <li><p style="color:white;">Aziz   - 0899 1860 260</p> </li>
        </ul>
    </div>
    <div class="col-3">
        <img src="../src/app/img/fb.png" alt="Gambar - 1" width="30px" height="30px" style="margin-left:120px;">
        <ul>
            <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/pemkotmadiun/"><p style="color:white;">Pemerintah Kota Madiun</p></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/Kabupaten-Madiun-212573675544483/"><p style="color:white;">Kabupaten Madiun</p> </a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/alfian.fiandy.7"><p style="color:white;">Alfian - Alfian Gustaf Fiandy </p></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/aziz.adikara.7"><p style="color:white;">Aziz   - Aziz Adikara</p></a>
        </ul>
    </div>
    <div class="col-3">
        <img src="../src/app/img/gmail.png" alt="Gambar - 1" width="30px" height="30px"SSS style="margin-left:120px;">
        <ul>
            <a target="_blank" rel="noopener noreferrer" href="https://mail.google.com/mail/u/0/#inbox"><p style="color:white;">kominfo.madiunkota@gmail.com</p></a>
            <a target="_blank" rel="noopener noreferrer" href="https://mail.google.com/mail/u/0/#inbox"><p style="color:white;">humas@mail.madiunkab.go.id</p></a>
            <a target="_blank" rel="noopener noreferrer" href="https://mail.google.com/mail/u/0/#inbox"><p style="color:white;">alfiangustaf@gmail.com</p></a>
            <a target="_blank" rel="noopener noreferrer" href="https://mail.google.com/mail/u/0/#inbox"><p style="color:white;">azizadikara7@gmail.com</p></a>
        </ul>
      </div>
  </div>
</div>
  <div class="container-fluid" style="background-color:black;">
    <div class="row">
      <p style="color:white; margin-left:35%;color:green">Copyright Alfian-Aziz@2018</p>
      <p style="color:white;">||</p>
      <p style="color:white; color:green"> Designed by CreatorNoob</p>
    </div>
  </div>

