<div class="container-fluid" style="padding-top:5%; background-image:url(../src/app/img/1.jpg)">
  <div class="row">
    <div class="col-4">

    </div>
    <div class="col-4">
        <img src="../src/app/img/logokotamadiun.png" alt="Gambar - 1" width="500px" height="360px" style="margin-left:0px; padding-top:0%;">
    </div>
    <div class="col-4">

    </div>
  </div>
</div>
<div class="container-fluid" style="padding-top:5%;">
  <div class="row">
    <div class="col-2">

    </div>
    <div class="col-8">
      <h1 style="text-align:center;">SEJARAH KOTA MADIUN</h1>
      <p style="text-align:justify;">Berdirinya Pemerintah Kota Madiun dapat dipelajari dari sisa peninggalan sejarah, baik berupa barang, adat istiadat maupun lembaga-lembaga. Di wilayah Kota Madiun terdapat 2 (dua)  kelurahan yang dahulu kala pada masa Pemerintahan Kesultanan Mataram kedua kelurahan tersebut berstatus tanah pardikan yang bebas mengurus rumah tangganya sendiri, yaitu tanah pardikan Taman dan Kuncen.
          Jauh sebelumnya, pada masa akhir pemerintah Majapahit di wilayah Madiun selatan terdapat kerajaan / pemerintahan Gagelang yang didirikan oleh Adipati Gugur Putra Brawijaya terakhir.

          Selanjutnya dengan pertimbangan geografis, dan ekonomis pusat pemerintahan bergeser ke utara di pinggir bengawan Madiun, yang dinamakan Kutho Miring di wilayah kelurahan Demangan sekarang dan kemudian pindah lagi ke komplek Rumah Dinas Bupati Madiun sekarang ini.

          Pada masa pemerintahan Kutho Miring tersebut, di wilayah kabupaten Sawo Ponorogo terdapat pemberontakan kepada kerajaan Mataram. Akhirnya Bupati Madiun yang merupakan Bupati Mancanegara timur (dengan gelar RONGGO) yang wilayah kerjanya juga meliputi daerah Sawo Ponorogo, diberi tugas untuk memadamkan pemberontakan tersebut.

          Pada masa kepemimpinan RONGGO ke II yang bergelar RONGGO PRAWIRODIRDJO inilah, lahir pahlawan Nasional Putra Madiun yang bertugas sebagai Senopati Perang, Pangeran Diponegoro yang bernama ALI BASAH SENTOT PRAWIRODIRDJO.

          Sebelum meletus perang Diponegoro, Madiun belum pernah dijamah oleh orang-orang Belanda atau Eropa lainnya. Dengan berakhirnya perang Diponegoro, Belanda menjadi tahu potensi daerah Madiun dan terhitung mulai tanggal 1 Januari 1832 Madiun secara resmi dikuasai oleh Pemerintahan Hindia Belanda dan dibentuklah suatu tatanan Pemerintahan yang berstatus KARESIDENAN dengan ibukota di Desa Kartoharjo (tempat istana Patih Kartoharjo) yang berdekatan dengan istana Kabupaten Madiun di Desa Pangongangan.

          Sejak saat itu mulailah berdatangan bangsa Belanda dan Eropa lain yang berprofesi dalam bidang perkebunan dan perindustrian yang akhirnya muncul berbagai perkebunan teh di Jamus dan Dungus, kopi di Kandangan dan tembakau di Pilangkenceng dan lain-lain dan mereka bermukim di dalam kota disekitar Istana Residen Madiun.

          Semua warga Belanda dan Eropa yang bermukim di kota Madiun, karena statusnya yang merasa superior berusaha untuk melaksanakan segregasi (pemisahan) sosial, berdasarkan perundang-undangan Inland-sche Gementee Ordonantie, oleh departemen Binnen-landsch, dibentuk Staads Gementee Madiun atau Kota Praja Madiun berdasarkan peraturan Pemerintahan Hindia Belanda pada tanggal 20 Juni 1918 dengan berdasarkan Staatsblaad tahun 1918 nomor 326.

          Pada awalnya Walikota (Burger-meester)nya dirangkap oleh Asisten Residen merangkap sebagai Voor Setter, yang pertama Ir. W.M. Ingenlijf yang selanjutnya diganti oleh De Maand hingga tahun 1927. Setelah tahun 1927 sampai sekarang, urut-urutan Walikota Madiun yang pernah memimpin Kota Madiun adalah sebagai berikut :<br>

K.A. Schotman<br>
Boerstra<br>
Van Dijk<br>
Ali Sastro Amidjojo<br>
Mr. R.M. Soebroto<br>
R. Soesanto Tirtoprodjo<br>
Soedibjo<br>
R Poerbo Sisworo<br>
Soepardi<br>
Mochammad (1948 dari Siliwangi)<br>
M. Soediono<br>
Singgih<br>
Moetoro<br>
Moestadjab<br>
Roeslan Wongsokoesoemo<br>
Soepardi<br>
Soemadi<br>
Soebagjo<br>
Walikota R. Roekito, BA<br>
Imam Soenardji (13-11-1968 s/d 19-01-1974)<br>
Achmad Dawaki, BA (19-01-1974 s/d 20-01-1979)<br>
Marsoedi (20-01-1979 s/d 20-01-1984)<br>
Marsoedi (20-10-1984 s/d 20-01-1979)<br>
Masdra M. Jasin. (20-01-1994 s/d 20-01-1994)<br>
Bambang Pamoedjo (20-01-1994 s/d 20-01-1999)<br>
H. Achmad Ali (20-01-1999 s/d 20-10-2004)<br>
Koko Raya, S.H<br> M.Hum (29-04-2004 s/d 29-04-2009)<br> Gandhi Yuninta SH<br> M.Hum (Wakil Walikota 29-04-2004 s/d 29-04-2009)<br>
H. Bambang Irianto SH<br> MM (29-04-2009 s/d 2016)<br> H. Sugeng Rismiyanto SH<br> M.Hum (Wakil Walikota 2009 s/d 2017)<br>
H. Sugeng Rismiyanto, SH<br> M.Hum (Walikota 2017 s/d Sekarang)<br> H. Armaya (Wakil Walikota 2017 s/d Sekarang)</p>
    </div>
    <div class="col-2">

    </div>
  </div>
</div>