<div class="row">
    <div class="col-12">
       <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="row">
          <div class="col-5 form-group">
            <label for="name">Nama</label>
            <input type="text"
            id="name"
            class="form-control"
            name="name"
            ngModel
            required 
            >
          </div>
          <div class="col-7 form-group">
            <label for="name">Isi Komentar</label>
            <input type="text" 
            id="isikomentar" 
            class="form-control"
            name="isikomentar"
            ngModel
            required
            >
          </div>
        </div>
          <div class="row">
            <div class="col-12">
              <button 
              type="submit" 
              class="btn btn-success"[disabled]="!f.valid">{{editMode ? 'Update' : 'Add'}}</button> &nbsp;
              <button
              type="button" 
              class="btn btn-danger" 
              (click)="onDelete()" 
              *ngIf="editMode">
              Delete</button> &nbsp;
              <button   class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
            </div>
        </div>  
      </form>
    </div>
  </div>