<hr>
<div class="container-fluid" style="padding-top:10%; background-image:url(../src/app/img/lecep.jpg)">
  <div class="row">
    <div class="col-4">

    </div>
    <div class="col-4">
        <div class="jumbotron jumbotron-fluid" style="background-color:rgba(224, 224, 224, 0.753)">
            <div class="container">
              <h1 class="display-4" style="text-align:center">WISATA</h1>
              <h1 class="display-4" style="text-align:center">BUDAYA</h1>
              <h1 class="display-4" style="text-align:center">EVENT</h1>
              <h1 class="display-4" style="text-align:center">BERITA</h1>
              <p class="lead" style="text-align:center">Berbagi Informasi Rekam Jejak di Madiun</p>
            </div>
          </div>
    </div>
     
    <div class="col-4">
      
    </div>
  </div>
</div>
<div class="container-fluid" style="padding-top:3%;">
 <app-isi></app-isi>
</div>
